!!! 5
html
  head
    title JavaScript &amp; nodejs consultancy and app development | Tinynodes

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css');
    link(rel='stylesheet', type='text/css', href='/static/css/bootstrap-responsive.min.css');

    block additional-styles

  body

    .container-fluid
      .row-fluid
        .span2
          block sidebar

        .span6
          block content

      .row-fluid
        .footer
          .container-fluid
            | Copyright &copy; 2012&nbsp;
            a(href="http://tinynodes.com") Tinynodes
            |&nbsp;-&nbsp;
            | Built With
            ||&nbsp;
            a(href="http://nodejs.org") nodejs
            |&nbsp;|&nbsp;
            a(href="http://expressjs.com") expressjs
            |&nbsp;|&nbsp;
            a(href="http://getbootstrap.com") bootstrap

    block scripts
      script(src='http://code.jquery.com/jquery.min.js')
      script(src='/static/js/bootstrap.min.js')

      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34508954-1']);
        _gaq.push(['_setDomainName', 'tinynodes.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();